<%- include('./components/head') -%>

  <header>
    <h1>Mars Rover Photo's</h1>
    <h2>SOL: <%= sol %>
    </h2>
    <h2>Earth Date: <%= solData[0].earth_date %>
    </h2>
  </header>

  <main>
    <ul>
      <% solData.forEach(item=> { %>
        <li>
          <img src="<%= item.img_src %>" alt="">
          <p>Camera: <%= item.camera.name %></p>
        </li>
        <% }) %>
    </ul>
  </main>

  <%- include('./components/footer') -%>